<!--home-->
<%- contentFor('body') %>
<!--beginn fixed navigation bar-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation </span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand text-center" href="/">,,iSystem2016''-Paketbox</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="/">Übersicht</a></li>
				<li><a href="/packages">Pakete</a></li>
				<li><a href="/systemlog">Systemlog</a></li>
				<li><a href="/settings">Einstellungen</a></li>
			</ul>
		</div>
	</div>
</div>
<!--end fixed navigation bar-->

<div class="container">

	<!--beginn logo and state of packagebox-->
	<div class="row">
		<div class="col-sm-8 text-center">
			<img src="images/Schwabenbox.jpg" alt="Schwabenbox" style="width:180px;height:150px;"></img>
		</div>
		<div class="col-sm-4 text-center">
			<div class=" text-center">
				<form name="stateofpackagebox">
					<h3>Status der Paketbox</h3>
					<img style="width:200px;height:100px;" class="images" name="packagebox" src=""></img>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<form name="stateofsensorandaktor">
			<div class="col-sm-8 text-center">
				<h3>Übersicht über Zustände</h3>
				<div class="row">
					<div class="col-sm-offset-2">
						<div class="col-sm-2 text-center" id="boxstate">
							<p><u>Webcam</u>
								<img class="images" name="webcam" src=""></img>
							</p>
						</div>
						<div class="col-sm-2 text-center" id="boxstate">
							<p><u>Türöffner</u>
								<img class="images" name="dooropener" src=""></img>
							</p>
						</div>
						<div class="col-sm-2 text-center" id="boxstate">
							<p><u>Scantaste</u>
								<img class="images" name="scanbutton" src=""></img>
							</p>
						</div>
						<div class="col-sm-2 text-center" id="boxstate">
							<p><u>Fehlertaste</u>
								<img class="images" name="errorbutton" src=""></img>
							</p>
						</div>
					</div>
				</div>
			</div>
		</form>
		<div class="col-sm-4 text-center">
			<h3>Manuelles Öffnen</h3>
			<button onclick="opendoor()" class="btn btn-success btn-lg">Paketbox öffnen</button>
		</div>
	</div>
	<!--end logo and state of packagebox-->

	<!--beginn table of the last 5 delivery-->
	<div class="row">
		<div class="col-sm-12 ">
			<h3 class="text text-center">Übersicht über die letzten Anlieferungen</h3>
			<div class="table-responsive">
				<div class="col-xs-12-center">
					<form method="post" action="/js/Paketliste">
						<table class="table table-striped table-responsive ">
							<thead>
								<tr>
									<th>#</th>
									<th>Sendenummer</th>
									<th>Paketname</th>
									<th>Zustelldatum</th>
								</tr>
							</thead>
							<tbody>
								<%
								var end;
								if(data.length < 5)
								{
									end = data.length;
								}
								else
								{
									end =5;
								}
								for (var i = 0; i < end; i++) { %>
								<tr>
									<td>
										<%= (i+1) %>
									</td>
									<td>
										<%= data[i].package_nr %>
									</td>
									<td>
										<%= data[i].package_name %>
									</td>
									<td>
										<%= data[i].delivery_time_stamp %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--end table of the last 5 delivery-->

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/home.js"></script>
