<!--packages-->
<%- contentFor('body') %>
<!--beginn fixed navigation bar-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation </span>
				<span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    	</button>
			<a class="navbar-brand text-center" href="/">,,iSystem2016''-Paketbox</a>
		</div>

		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">Übersicht</a></li>
				<li class="active"><a href="/packages">Pakete</a></li>
				<li><a href="/systemlog">Systemlog</a></li>
				<li><a href="/settings">Einstellungen</a></li>
			</ul>
		</div>
	</div>
</div>
<!--end fixed navigation bar-->

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div id="boxstart" class="col-sm-6">

				<!--beginn add trackingnumber-->
				<div class="col-sm-12">
					<h3 class="text">Fügen Sie ein Paket hinzu </h3>
					<form name="add" method="post" action="/packages">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-barcode"></i>
							</span>
							<input type="text" class="form-control" name="addtrackingnumber" placeholder="Sendungsnummer"></input>
						</div>
						<div class="input-group" class="offsetline">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-envelope"></i>
							</span>
							<input type="restet" class="form-control" name="packagename" placeholder="Paketname(optional)"></input>
						</div>
						<div class="offsetbutton">
							<button type="submit" name="add" value="1" onclick="checkaddtrackingnumber()" class="btn btn-success -block">Paket hinzufügen</button>
						</div>
					</form>
				</div>
				<!--end add trackingnumber-->

				<!--beginn change trackingnumber-->
				<div class="col-sm-12">
					<h3 class="text">Bearbeiten Sie ein Paket in der Liste </h3>
					<form name="change" method="post" action="/packages">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-barcode"></i>
							</span>
							<input type="text" class="form-control" name="oldtrackingnumber" placeholder="alte Sendungsnummer"></input>
						</div>
						<div class="input-group" class="offsetline">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-barcode"></i>
							</span>
							<input type="text" class="form-control" name="newtrackingnumber" placeholder="neue Sendungsnummer"></input>
						</div>
						<div class="input-group" class="offsetline">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-envelope"></i>
							</span>
							<input type="text" class="form-control" name="newpackagename" placeholder="Paketname(optional)"></input>
						</div>
						<div class="offsetbutton">
							<button type="submit" name="change" onclick="checkchangetrackingnumber()" value="1" class="btn btn-warning -block">Paket ändern</button>
						</div>
					</form>
				</div>
				<!--end change trackingnumber-->

				<!--beginn remove trackingnumber-->
				<div class="col-sm-12">
					<h3 class="text">Entfernen Sie ein Paket aus Liste </h3>
					<form name="remove" method="post" action="/packages">
						<div class="input-group">
							<span class="input-group-addon">
              	<i class="glyphicon glyphicon-barcode"></i>
              </span>
							<input type="text" class="form-control" name="removetrackingnumber" placeholder="Sendungsnummer"></input>
						</div>
						<div id="boxend" class="offsetbutton">
							<button type="submit" name="remove" onclick="checkremovetrackingnumber()" value="1" class="btn btn-danger -block">Paket entfernen</button>
						</div>
					</form>
				</div>
				<!--end remove trackingnumber-->

			</div>

			<!--beginn table-->
			<form method="post" action="/packages">

				<!--beginn table for expected trackingnumbers-->
				<div id="table boxend" class="col-sm-6">
					<h3 class="text">Erwarte Pakete </h3>
					<div style=" height: 200px;  overflow: auto;">
						<table class="table table-striped table-responsive">
							<thead>
								<tr>
									<th class="tablebutton">#</th>
									<th> <button name="expectedtrackingnumber" value="1" class="tablebutton">Sendungsnummer</button></th>
									<th> <button name="expectedpackagename" value="1" class="tablebutton">Paketname</button></th>
									<th> <button name="expectedentrydate" value="1" class="tablebutton">Eintragdatum</button></th>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < expecteddata.length; i++) { %>
								<tr>
									<td>
										<%= (i+1) %>
									</td>
									<td>
										<%= expecteddata[i].package_nr %>
									</td>
									<td>
										<%= expecteddata[i].package_name %>
									</td>
									<td>
										<%= expecteddata[i].entry_time_stamp %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
				<!--end table for expected trackingnumbers-->

				<!--beginn table for delivered trackingnumbers-->
				<div id="table boxend" class="col-sm-6">
					<h3 class="text">Zugestellte Pakete </h3>
					<div style=" height: 200px;  overflow: auto;">
						<table class="table table-striped table-responsive ">
							<thead>
								<tr>
									<th class="tablebutton">#</th>
									<th> <button name="deliveredtrackingnumber" value="1" class="tablebutton">Sendungsnummer</button></th>
									<th> <button name="deliveredpackagename" value="1" class="tablebutton">Paketname</button></th>
									<th> <button name="deliveredentrydate" value="1" class="tablebutton">Eintragdatum</button></th>
									<th> <button name="delivereddeliverydate" value="1" class="tablebutton">Zustelldatum</button></th>
								</tr>
							</thead>
							<tbody>
								<% for (var i = 0; i < delivereddata.length; i++) { %>
								<tr>
									<td>
										<%= (i+1) %>
									</td>
									<td>
										<%= delivereddata[i].package_nr %>
									</td>
									<td>
										<%= delivereddata[i].package_name %>
									</td>
									<td>
										<%= delivereddata[i].entry_time_stamp %>
									</td>
									<td>
										<%= delivereddata[i].delivery_time_stamp %>
									</td>
								</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
				<!--end table for delivered trackingnumbers-->

			</form>
			<!--end table-->

		</div>
	</div>
</div>

<script src="js/validator.min.js"></script>
<script src="js/packages.js"></script>
