<!--settings-->
<%- contentFor('body') %>
<!--beginn fixed navigation bar-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-center" href="/">,,iSystem2016''-Paketbox</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Übersicht</a></li>
        <li><a href="/packages">Pakete</a></li>
        <li><a href="/systemlog">Systemlog</a></li>
        <li class="active"><a href="/settings">Einstellungen</a></li>
      </ul>
    </div>
  </div>
</div>
<!--end fixed navigation bar-->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div id="boxstart" class="col-sm-12">

        <!--beginn add mailadress-->
        <div class="col-sm-12">
          <h3 class="text">Fügen Sie einen Empfänger hinzu </h3>
          <form name="add" method="post" action="/settings">
            <div class="input-group" class="offsetline">
              <span class="input-group-addon">@</span>
              <input type="text" class="form-control" name="addmailadress" placeholder="Email-Adresse"></input>
            </div>
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input class="form-control" name="user" placeholder="Name(optional)"></input>
            </div>
            <div class="offsetbutton">
              <button name="addmail" value="1" class="btn btn-success -block" onclick="checkemail()">Email hinzufügen</button>
            </div>
          </form>
        </div>
        <!--end add mailadress-->

        <!--beginn remove mailadress-->
        <div class="col-sm-12">
          <h3 class="text">Entfernen Sie einen Empfänger </h3>
          <form name="remove" method="post" action="/settings">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input class="form-control" name="removemailadress" placeholder="Email-Adresse" />
            </div>
            <div id="boxend" class="offsetbutton">
              <button name="removemail" value="1" class="btn btn-danger -block" onclick="checkemail2()">Email entfernen</button>
            </div>
          </form>
        </div>
        <!--end remove mailadress-->

      </div>

      <!--beginn set Runtime-->
      <div id="boxstart" class="col-sm-12">
        <div class="text-center">
          <h3>Laufzeit der Paketbox</h3>
        </div>
        <form name="runtime" method="post" action="/settings">
          <div class="col-sm-6">
            <p>Startzeit der Paketbox:
              <label>
                <select class="selectpicker" name="starttime">
                  <option value="00">00:00</option>
                  <option value="01">01:00</option>
                  <option value="02">02:00</option>
                  <option value="03">03:00</option>
                  <option value="04">04:00</option>
                  <option value="05">05:00</option>
                  <option value="06">06:00</option>
                  <option value="07">07:00</option>
                  <option value="08">08:00</option>
                  <option value="09">09:00</option>
                  <option value="10">10:00</option>
                  <option value="11">11:00</option>
                  <option value="12">12:00</option>
                  <option value="13">13:00</option>
                  <option value="14">14:00</option>
                  <option value="15">15:00</option>
                  <option value="16">16:00</option>
                  <option value="17">17:00</option>
                  <option value="18">18:00</option>
                  <option value="19">19:00</option>
                  <option value="20">20:00</option>
                  <option value="21">21:00</option>
                  <option value="22">22:00</option>
                  <option value="23">23:00</option>
                </select>
              </label> Uhr
            </p>
            <p>Endzeit der Paketbox:
              <label>
                <select class="selectpicker"name="endtime">
                  <option value="01">00:59</option>
                  <option value="02">01:59</option>
                  <option value="03">02:59</option>
                  <option value="04">03:59</option>
                  <option value="05">04:59</option>
                  <option value="06">05:59</option>
                  <option value="07">06:59</option>
                  <option value="08">07:59</option>
                  <option value="09">08:59</option>
                  <option value="10">09:59</option>
                  <option value="11">10:59</option>
                  <option value="12">11:59</option>
                  <option value="13">12:59</option>
                  <option value="14">13:59</option>
                  <option value="15">14:59</option>
                  <option value="16">15:59</option>
                  <option value="17">16:59</option>
                  <option value="18">17:59</option>
                  <option value="19">18:59</option>
                  <option value="20">19:59</option>
                  <option value="21">20:59</option>
                  <option value="22">21:59</option>
                  <option value="23">22:59</option>
                  <option value="24">23:59</option>
                </select>
              </label> Uhr
            </p>
            <div id="boxend" class="offsetbutton">
              <button onclick="comparison()" name="setruntime" value="1" class="btn btn-primary -block">Laufzeit aktivieren</button>
            </div>
          </div>
        </form>
        <div class="col-sm-6">
          <p>Die aktuelle Laufzeit beginnt um
            <u><%= runtime[0].start %> Uhr</u>
          </p>
          <p>und endet um
            <u><%= runtime[0].end %> Uhr</u>
          </p>
        </div>
      </div>
      <!--end set Runtime-->

    </div>

    <!--start table for mailadresses-->
    <div id="table boxend" class="col-sm-6">
      <h3 class="text">Emailempfänger </h3>
      <table class="table table-striped table-responsive ">
        <thead>
          <tr>
            <th>#</th>
            <th>Email Adresse</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < data.length; i++) { %>
          <tr>
            <td>
              <%= (i+1) %>
            </td>
            <td>
              <%= data[i].email_adress %>
            </td>
            <td>
              <%= data[i].name %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <!--end table for mailadresses-->
  </div>
</div>

<script src="js/validator.min.js"></script>
<script src="js/settings.js"></script>
